<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order_type.name %>
</p>

<%= link_to 'Edit', edit_brand_order_type_path(@brand, @order_type) %> |
<%= link_to 'Back', brand_path(@brand) %>
