<p>
  <strong>Brand:</strong>
  <%= @location.brand.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @location.name %>
</p>

<%= form_for [@location, @day_part] do |f| %>
  <% if @day_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day_part.errors.count, "error") %> prohibited this day part from being saved:</h2>

      <ul>
      <% @day_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
