<p>
  <strong>Brand:</strong>
  <%= @brand.name %>
</p>

<%= form_for setup_menu_item(@brand, @menu_item) do |f| %>
  <% if @menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_item.errors.count, "error") %> prohibited this order type from being saved:</h2>

      <ul>
      <% @menu_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="input-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <h4>Prices</h4>
  <%= f.fields_for :prices do |pf| %>
    <%= pf.object.price_level.name %>:
    <%= pf.text_field :cost %>
    <%= pf.hidden_field :price_level_id %>
    <br>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
