<h4>Calculate Price</h4>

<strong>Brand: </strong><%= @brand.name %>

<%= form_tag({controller: 'price_calculation', action: 'create'}, method: 'post', class: 'js-price-calculation-form', remote: true) do %>
  <%= label_tag(:location_id, 'Location') %>:
  <%= select_tag :location_id, options_for_select(@brand.locations.map { |location| [location.name, location.id]}) %><br>

  <%= label_tag(:menu_item_id, 'Menu Item') %>:
  <%= select_tag :menu_item_id, options_for_select(@brand.menu_items.map { |mi| [mi.name, mi.id]}) %><br>

  <%= label_tag(:order_type_id, 'Order Type') %>
  <%= select_tag :order_type_id, options_for_select(@brand.order_types.map { |ot| [ot.name, ot.id]}) %><br>

  <%= label_tag(:day_part, 'Day Part') %>
  <span class="js-select-day-part"><%= select_tag :day_part_id, options_for_select(@brand.locations.first.day_parts.map { |dp| [dp.name, dp.id]}) %></span><br>

  <%= submit_tag "Calculate Price", class: 'btn btn-primary' %>
  <div>
    Price: <span class="js-price"></span>
  </div>
<% end %>

<%= link_to 'back', brand_path(@brand) %>
