<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Brands</strong></div>
  <table class="table">
    <tr>
      <th>Name</th>
    </tr>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= link_to brand.name, brand %></td>
        <td align="right"><%= edit_link(edit_brand_path(brand)) %> <%= destroy_link(brand) %></td>
      </tr>
    <% end %>
  </table>
  <div class="panel-footer"><%= link_to 'New Brand', new_brand_path %></div>
</div>

<%= link_to 'New Price Calculation', new_price_calculation_path, class: 'btn btn-success' %><br>
