<p>
  <strong>Brand:</strong>
  <%= @brand.name %>
</p>

<%= form_for [@brand, @location] do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="input-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="input-group">
    <%= f.fields_for :price_level_associations do |pla| %>
      <%= render 'price_level_association_fields', f: pla %>
    <% end %>
    <span class="links">
      <%= link_to_add_association 'add price level association', f, :price_level_associations, class: 'btn btn-sm btn-success' %>
    </span>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
