<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<div>
  <h4>Price Level Associations</h4>
  <% @location.price_level_associations.each do |pla| %>
    <%= pla.price_level.name %> | <%= pla.order_type.name %> | <%= pla.day_part.try(:name) || '' %><br>
  <% end %>
</div>

<div>
  <h4>Day Parts</h4>
  <ul>
    <% @location.day_parts.each do |day_part| %>
      <%= link_to day_part.name, location_day_part_path(@location, day_part) %> | <%= link_to 'edit', edit_location_day_part_path(@location, day_part) %> | <%= link_to 'destroy', location_day_part_path(@location, day_part), method: :delete, data: { confirm: 'Are you sure?' } %><br>
    <% end %>
  </ul>
  <%= link_to 'New Day Part', new_location_day_part_path(@location) %>
</div>

<%= link_to 'Edit', edit_brand_location_path(@brand, @location) %> |
<%= link_to 'Back', brand_path(@brand) %>
