<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Price Level Associations</strong></div>
  <table class="table">
    <tr>
      <th>Price Level</th>
      <th>Order Type</th>
      <th>Day Part</th>
    </tr>
    <% @location.price_level_associations.each do |pla| %>
      <tr>
        <td><%= pla.price_level.name %></td>
        <td><%= pla.order_type.name %></td>
        <td><%= pla.day_part.try(:name) || '' %></td>
      <tr>
    <% end %>
  </table>
</div>

<%= link_to 'Edit', edit_brand_location_path(@brand, @location) %> |
<%= link_to 'Back', brand_path(@brand) %>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Day Parts</strong></div>
  <table class="table">
    <tr>
      <th>Name</th>
    </tr>
    <% @location.day_parts.each do |day_part| %>
      <tr>
        <td><%= link_to day_part.name, location_day_part_path(@location, day_part) %></td>
        <td align="right"><%= edit_link(edit_location_day_part_path(@location, day_part)) %> <%= destroy_link(location_day_part_path(@location, day_part)) %></td>
      </tr>
    <% end %>
  </table>
  <div class="panel-footer"><%= link_to 'New Day Part', new_location_day_part_path(@location) %></div>
</div>
